<article class="border-b p-4 flex justify-between">
    <img class="m-2 h-16 w-16 object-cover rounded-full" src="/assets/images/avatar.jpg" alt="">
    <div class="">
        <h2 class="font-medium">Headline</h2>
        <p class="text-themeblue">Hey Cody, you should definitely check out Yoga Six for hot yoga! They have…</p>
    </div>
</article>