<div class="border-t border-b p-4 flex justify-between items-center">
    <div class="h-8 w-8 grid items-center justify-center p-1 bg-white rounded-full shadow-md">
        <i class="fas fa-tint text-theme"></i>
    </div>
    <h3 class="flex-auto ml-2 uppercase font-medium">category</h3>
    <i class="fas fa-chevron-down"></i>
</div>