<form class="mx-4 my-2 flex justify-between items-center bg-themegray rounded">
    <input class="ml-8 py-2 rounded bg-themegray placeholder-gray-500 " type="text" placeholder="Search..">
    <i class="fas fa-search text-gray-500 mr-4"></i>
</form>