<% include ../partials/head %>
<% include ../partials/header %>
<main>
    <h2>main</h2>
</main>
<% include ../partials/footer %>
<% include ../partials/after-footer %>


<template id="featured-items">
    <a id="link" href="">
        <div class="featured__item">
            <img class="featured__item__img" src="/assets/images/microphone.jpg" alt="images">
            <div class="featured__item__text-container">
                <h2 class="featured__item__text-container__title"></h2>
                <p class="featured__item__text-container__paragraph"></p>
            </div>
        </div>
    </a>
</template>