<% include ../partials/head %>
<% include ../partials/header %>
<% include ../partials/seachbar %>
<main>
    <section id="news-container">
        <!-- from index.js -->
    </section>
</main>
<% include ../partials/footer %>
<script src="/assets/js/xml2json.js"></script>
<script src="/assets/js/get-json-from-rss.js"></script>
<% include ../partials/after-footer %>


<template class="category-template">
    <div class="category-div border-t border-b p-4 flex justify-between items-center">
        <div class="h-8 w-8 grid items-center justify-center p-1 bg-white rounded-full shadow-md">
            <i class="fas fa-tint text-theme"></i>
        </div>
        <h3 class="flex-auto ml-2 uppercase font-medium">category</h3>
        <i class="fas fa-chevron-down"></i>
    </div>
    <ul class="article-container"></ul>
</template>

<template class="article-template">
    <li>
        <article class="border-b p-4 flex justify-between">
            <img class="m-2 h-16 w-16 object-cover rounded-full" src="/assets/images/avatar.jpg" alt="">
            <div class="">
                <h2 class="font-medium">Headline</h2>
                <p class="text-themeblue">Hey Cody, you should definitely check out Yoga Six for hot yoga! They have…
                </p>
            </div>
        </article>
    </li>
</template>